@use 'abstract/variables';
@use 'layout/header';
@use 'components/tag';
@use 'components/thumbnail';

html {
    font-family: variables.$font;
}

.App {

    @media only screen and (min-width: 768px) {
        margin: 30px 100px 30px 100px;
    }

    @media only screen and (max-width: 767px) {
        margin: 15px;
    }
    
}