@use 'abstract/variables';
@use 'layout/header';
@use 'components/tag';
@use 'components/thumbnail';
@use 'components/drop-down';
@use 'components/banner';
@use 'pages/home';
@use 'components/_carousel';
@use 'pages/accomodation';
@use 'components/host';
@use 'components/star-rating';
@use 'layout/footer';
@use 'pages/about';
@use 'pages/error';

html {
    font-family: variables.$font;
}

body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media only screen and (min-width: 768px) {

    header {
        margin: 30px 50px 0px 50px;
    }

    main {
        margin-left: 50px;
        margin-right: 50px;
        margin: 50px 50px 50px 50px;
    }
}

@media screen and (min-width: 601px) and (max-width: 767px) {

    header {
        margin: 25px 25px 0px 25px;
    }

    main {
        margin: 25px 25px 25px 25px
    }
}

@media only screen and (max-width: 600px) {

    header {
        margin: 15px 15px 0 15px;
    }

    main {
        margin: 15px 15px 15px 15px;
    }
}