@use "../abstract/colors";

header {
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 30px;

		.logo-wrapper {
			display: flex;

			img {
				width: 100%;
			}
		}

		.link-wrapper {
			display: flex;
			column-gap: 30px;
			justify-content: space-between;

			a {
				color: colors.$primary-color;
				text-decoration: none;
				font-weight: 500;
				white-space: nowrap;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	header {
		nav {

            .logo-wrapper {
                height: 45px;
            }
		}

        .link-wrapper {
            column-gap: 20px !important;

            a {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
	}
}
