@use "../abstract/colors";

.accomodation-container {
	.informations-container {
		display: flex;
		justify-content: space-between;

		.title-location-tag-container {
			margin-top: 30px;
			.title-wrapper {
				color: colors.$primary-color;

				h2 {
					font-size: 36px;
					font-weight: 500;
					margin: 0;
					line-height: 52px;
				}
			}

			.location-wrapper {
				color: colors.$primary-color;

				h3 {
					font-size: 16px;
					font-weight: 500;
					margin: 0;
					line-height: 26px;
				}
			}

			.tag-wrapper {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				margin-top: 15px;
			}
		}

		.host-rating-container {
			margin-top: 30px;
		}
	}

	.drop-down-container {
		display: flex;
		justify-content: space-between;
		column-gap: 50px;
		margin-top: 20px;

		.drop-down-wrapper {
			width: 50%;
		}
	}
}

@media screen and (max-width: 767px) {
	.accomodation-container {
		.informations-container {
			flex-direction: column;

			.title-location-tag-container {
				margin-top: 10px;

				.title-wrapper {
					h2 {
						font-size: 18px;
						line-height: 26px;
					}
				}

				.location-wrapper {
					h3 {
						font-size: 14px;
						line-height: 20px;
					}
				}

				.tag-wrapper {
					margin-top: 10px;
				}
			}

			.host-rating-container {
				margin-top: 10px;
			}
		}

		.host-rating-container {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
		}

		.drop-down-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 20px;

			.drop-down-wrapper {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.accomodation-container {
		.drop-down-container {
			flex-direction: column;
			row-gap: 20px;

			.drop-down-wrapper {
				width: 100%;
			}
		}
	}
}
