@use "../abstract/colors";

.drop-down-wrapper {
	width: 50%;

	.drop-down-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: colors.$primary-color;
		border-radius: 10px;
		padding: 5px 10px 5px 20px;

		h2 {
			font-size: 18px;
			font-weight: 500;
			color: white;
			margin: 0;
		}

		svg {
			width: 32px;
			height: 32px;
			color: white;
			transition: 0.2s ease-in-out;
		}

		&.active {
			svg {
				transform: rotate(-180deg);
			}
		}
	}

	.drop-down-content-wrapper {
		display: none;
		background-color: colors.$secondary-color;
		border-radius: 10px;
		padding: 30px 10px 30px 20px;

		.drop-down-content {
			display: flex;
			flex-direction: column;
			row-gap: 5px;

			p {
				font-size: 18px;
				font-weight: 400;
				margin: 0;
				color: colors.$primary-color;
			}
		}

		&.active {
			display: block;
		}
	}
}

@media screen and (max-width: 1024px) {
	.drop-down-wrapper {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.drop-down-wrapper {
		.drop-down-header {
			padding-top: 0;
			padding-bottom: 0;

			h2 {
				font-size: 13px;
				line-height: 18px;
			}
		}

		.drop-down-content-wrapper {
			padding: 15px 10px 15px 20px;

			.drop-down-content {
				p {
					font-size: 12px;
				}
			}
		}
	}
}
