@use '../abstract/colors';

.host-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;

    h2 {
        color: colors.$primary-color;
        font-size: 18px;
        font-weight: 500;
        text-align: right;
        width: min-content;
        margin: 0;
    }

    .picture-wrapper {
        display: flex;
        border-radius: 50%;
        overflow: hidden;
        width: 65px;
        height: 65px;
    }
}

@media screen and (max-width: 767px) {
    .host-wrapper {

        h2 {
            font-size: 12px;
        }

        .picture-wrapper {
            width: 32px;
            height: 32px;
        }
    }
}