@use '../abstract/colors';

.stars-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    color: colors.$primary-color;

    .fa-star {
        width: 35px;
        height: 35px;
    }

    .grey {
        color: #E3E3E3;
    }
}

@media screen and (max-width: 767px) {
    .stars-wrapper {
        justify-content: flex-start;
        column-gap: 5px;

        .fa-star {
            width: 18px;
            height: 18px;
        }
    }
}